.padding-small-left {
  padding-left: 0.3em !important;
}
.padding-small-bottom {
  padding-bottom: 0.3em !important;
}
.padding-small-right {
  padding-right: 0.3em !important;
}
.padding-small-top {
  padding-top: 0.3em !important;
}
.padding-medium-left {
  padding-left: 0.8em !important;
}
.padding-medium-bottom {
  padding-bottom: 0.8em !important;
}
.padding-medium-right {
  padding-right: 0.8em !important;
}
.padding-medium-top {
  padding-top: 0.8em !important;
}
.padding-large-left {
  padding-left: 1.2em !important;
}
.padding-large-bottom {
  padding-bottom: 1.2em !important;
}
.padding-large-right {
  padding-right: 1.2em !important;
}
.padding-large-top {
  padding-top: 1.2em !important;
}
.padding-huge-left {
  padding-left: 4em !important;
}
.padding-huge-bottom {
  padding-bottom: 4em !important;
}
.padding-huge-right {
  padding-right: 4em !important;
}
.padding-huge-top {
  padding-top: 4em !important;
}
.margin-small-left {
  margin-left: 0.3em !important;
}
.margin-small-bottom {
  margin-bottom: 0.3em !important;
}
.margin-small-right {
  margin-right: 0.3em !important;
}
.margin-small-top {
  margin-top: 0.3em !important;
}
.margin-medium-left {
  margin-left: 0.8em !important;
}
.margin-medium-bottom {
  margin-bottom: 0.8em !important;
}
.margin-medium-right {
  margin-right: 0.8em !important;
}
.margin-medium-top {
  margin-top: 0.8em !important;
}
.margin-large-left {
  margin-left: 1.2em !important;
}
.margin-large-bottom {
  margin-bottom: 1.2em !important;
}
.margin-large-right {
  margin-right: 1.2em !important;
}
.margin-large-top {
  margin-top: 1.2em !important;
}
.margin-huge-left {
  margin-left: 4em !important;
}
.margin-huge-bottom {
  margin-bottom: 4em !important;
}
.margin-huge-right {
  margin-right: 4em !important;
}
.margin-huge-top {
  margin-top: 4em !important;
}
.light {
  color: #F8F8F9;
}
.light-background {
  color: #535353;
  background-color: #F8F8F9;
}
.dark {
  color: #535353;
}
.dark-background {
  color: #F8F8F9;
  background-color: #535353;
}
.text-center {
  text-align: center;
}
.post .card {
  border: 1px solid #cacaca;
  border-radius: 0.23em;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.13);
  border-radius: 0.3em;
}
.post .card > *:first-child {
  border-top-left-radius: 0.23em;
  border-top-right-radius: 0.23em;
}
.post .card > *:last-child {
  border-bottom-left-radius: 0.23em;
  border-bottom-right-radius: 0.23em;
}
.post .card.hover:hover {
  overflow: hidden;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.4);
  background-color: #535353;
}
.post .card.hover:hover .poster {
  overflow: visible;
}
.post .card.hover:hover .poster img {
  filter: brightness(85%);
}
.post .card.hover:hover .title {
  color: #ffffff;
  heigh: 0;
}
.post .card.hover:hover .title span {
  position: relative;
  top: -2em;
  animation-name: fadein;
  animation-duration: 1s;
}
.post .card .poster {
  width: 100%;
  background-color: #535353;
  height: 8em;
  overflow: hidden;
}
.post .card .poster img {
  min-width: 100%;
  min-heigh: 100%;
}
.post .card .title {
  font-size: 2em;
  text-align: center;
  margin: 0.3em;
  line-height: 1.2em;
}
.post .tags {
  list-style-type: none;
  padding: 0.3em;
  margin-top: 0px;
}
.post .tags li {
  display: inline-block;
  margin-right: 0.3em;
}
.post .tags li a {
  text-decoration: none;
  color: #1985a1;
}
.post .tags li a:hover {
  text-decoration: underline;
}
.post .tags li:before {
  content: "#";
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
  color: #535353;
  border-top: 0.3em solid #1985a1;
  font-family: 'Nunito';
}
.text {
  font-family: 'Poiret One';
  font-size: 1.5rem;
  line-height: 1.2em;
  color: #3e3e3e;
}
.muted,
.muted:hover,
.muted:active,
.muted:visited,
.muted:link,
nav a {
  color: #535353;
  text-decoration: none;
  line-height: 105%;
}
.muted:hover {
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  padding: 0;
  margin: 0.3em auto 0.8em auto;
}
nav > * {
  order: 0;
  margin: 0 0.8em;
}
nav ul {
  list-style-type: none;
  margin: 0.3em auto 0.8em auto;
  padding: 0.8em;
  padding: 0;
  padding-top: 0.8em;
}
nav ul li {
  display: inline-block;
  padding: 0.3em;
}
nav ul li a {
  color: #535353;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  line-height: 1.8em;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-color 0.6s;
}
nav ul li a:hover {
  text-decoration: none;
  border-bottom-color: #1985a1;
}
nav ul li {
  padding: 0.8em;
}
nav label.burgermenu,
nav #hamburger {
  display: none;
}
nav .right {
  order: 5;
}
nav .left {
  order: -5;
}
.no-flexbox nav {
  display: table;
  border-spacing: 0.3em;
  padding: 0;
}
.no-flexbox nav > * {
  display: table-cell;
  verticle-align: middle;
  whitespace: nowrap;
}
nav a:hover {
  text-decoration: underline;
}
nav .menu {
  flex-grow: 1;
  text-align: center;
}
nav .menu a {
  padding: 0 0.8em;
}
nav .links .active {
  font-weight: bold;
}
ul.subnav {
  text-align: center;
  background-color: #F8F8F9;
  list-style-type: none;
  margin: 0.3em auto 0.8em auto;
  padding: 0.8em;
}
ul.subnav li {
  display: inline-block;
  padding: 0.3em;
}
ul.subnav li a {
  color: #535353;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  line-height: 1.8em;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-color 0.6s;
}
ul.subnav li a:hover {
  text-decoration: none;
  border-bottom-color: #1985a1;
}
ul.subnav li a:hover {
  border-bottom-color: #f8f8f8;
}
.cover {
  max-height: 300px;
  overflow: hidden;
}
.cover.large {
  max-height: 450px;
}
.cover img {
  width: 100%;
}
.heading {
  padding: 2em;
  width: 100%;
}
.heading h1 {
  width: 100%;
  text-align: center;
}
.container,
footer {
  width: 100%;
  max-width: max;
  min-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.grid {
  width: 100%;
  max-width: max;
  min-width: 678px;
  margin: 0 auto;
  overflow: hidden;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid .column-11-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 91.66666667%;
  margin-bottom: 0.3em;
}
.grid .column-11-12:last-child {
  padding-right: 0;
}
.grid .column-10-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 83.33333333%;
  margin-bottom: 0.3em;
}
.grid .column-10-12:last-child {
  padding-right: 0;
}
.grid .column-9-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 75%;
  margin-bottom: 0.3em;
}
.grid .column-9-12:last-child {
  padding-right: 0;
}
.grid .column-8-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 66.66666667%;
  margin-bottom: 0.3em;
}
.grid .column-8-12:last-child {
  padding-right: 0;
}
.grid .column-7-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 58.33333333%;
  margin-bottom: 0.3em;
}
.grid .column-7-12:last-child {
  padding-right: 0;
}
.grid .column-6-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 50%;
  margin-bottom: 0.3em;
}
.grid .column-6-12:last-child {
  padding-right: 0;
}
.grid .column-5-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 41.66666667%;
  margin-bottom: 0.3em;
}
.grid .column-5-12:last-child {
  padding-right: 0;
}
.grid .column-4-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 33.33333333%;
  margin-bottom: 0.3em;
}
.grid .column-4-12:last-child {
  padding-right: 0;
}
.grid .column-3-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 25%;
  margin-bottom: 0.3em;
}
.grid .column-3-12:last-child {
  padding-right: 0;
}
.grid .column-2-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 16.66666667%;
  margin-bottom: 0.3em;
}
.grid .column-2-12:last-child {
  padding-right: 0;
}
.grid .column-1-12 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 8.33333333%;
  margin-bottom: 0.3em;
}
.grid .column-1-12:last-child {
  padding-right: 0;
}
.grid .column-5-6 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 83.33333333%;
  margin-bottom: 0.3em;
}
.grid .column-5-6:last-child {
  padding-right: 0;
}
.grid .column-4-6 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 66.66666667%;
  margin-bottom: 0.3em;
}
.grid .column-4-6:last-child {
  padding-right: 0;
}
.grid .column-3-6 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 50%;
  margin-bottom: 0.3em;
}
.grid .column-3-6:last-child {
  padding-right: 0;
}
.grid .column-2-6 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 33.33333333%;
  margin-bottom: 0.3em;
}
.grid .column-2-6:last-child {
  padding-right: 0;
}
.grid .column-1-6 {
  float: left;
  min-height: 1px;
  padding-right: 0.8em;
  width: 16.66666667%;
  margin-bottom: 0.3em;
}
.grid .column-1-6:last-child {
  padding-right: 0;
}
.grid .offset-11-11 {
  margin-left: 91.66666667%;
}
.grid .offset-10-10 {
  margin-left: 83.33333333%;
}
.grid .offset-9-9 {
  margin-left: 75%;
}
.grid .offset-8-8 {
  margin-left: 66.66666667%;
}
.grid .offset-7-7 {
  margin-left: 58.33333333%;
}
.grid .offset-6-6 {
  margin-left: 50%;
}
.grid .offset-5-5 {
  margin-left: 41.66666667%;
}
.grid .offset-4-4 {
  margin-left: 33.33333333%;
}
.grid .offset-3-3 {
  margin-left: 25%;
}
.grid .offset-2-2 {
  margin-left: 16.66666667%;
}
.grid .offset-1-1 {
  margin-left: 8.33333333%;
}
main,
aside {
  padding: 2em;
  width: 100%;
}
article:first-child h2 {
  margin-top: 0px;
}
ul.menu {
  list-style-type: none;
  padding: 0.3em;
  margin: 0;
}
ul.menu li:not(.title):not(.separator):before {
  content: "» ";
  color: brighten(#cacaca, 10%);
}
ul.menu li.title {
  font-weight: bold;
  margin-bottom: 0.3em;
}
ul.menu li.separator {
  height: 1.2em;
}
ul.menu li.canceled:before {
  content: "× " !important;
}
ul.menu li.box:before {
  content: "☐ " !important;
}
ul.menu li.box.true:before {
  content: "☑ " !important;
}
ul.menu li.box.false:before {
  content: "☒ " !important;
}
.form {
  /* 
	 * https://www.sanwebe.com/2014/08/css-html-forms-designs
	 * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
	 */
}
.form ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.form ul li {
  display: block;
}
.form .field {
  padding-top: 0.3em;
  border: 1px solid #cacaca;
  margin-top: 0.3em;
  margin-bottom: 1.2em;
  background: #F8F8F9;
  min-height: 1em;
}
.form .field.no-border {
  border: none;
  margin-top: 0.3em;
  text-align: center;
}
.form .field.no-border > label {
  margin-top: 0;
  margin-left: 0;
}
.form .field input {
  padding: 0.8em;
  margin-bottom: 1em;
}
.form .field input:focus {
  margin-bottom: 0;
}
.form .field input:focus + span {
  display: inherit;
}
.form .field > label {
  display: block;
  float: left;
  margin-top: -1.2em;
  margin-left: 0.8em;
  height: 1.5em;
  font-size: 0.8em;
  padding: 0.3em;
  color: #535353;
  overflow: hidden;
  background: #F8F8F9;
}
.form .field > span {
  background: #cacaca;
  display: block;
  padding: 0.3em;
  text-align: center;
  color: #F8F8F9;
  font-size: 0.8em;
  display: none;
  height: 1.5em;
}
.form .field a {
  color: #535353;
  font-weight: bold;
}
.form .field.is-invalid {
  border-color: #c43611;
}
.form .field.is-invalid input {
  margin-bottom: 0;
}
.form .field.is-invalid .invalid {
  background-color: #c43611;
  display: inherit;
}
.form .field.checkbox {
  position: relative;
  user-select: none;
  cursor: pointer;
}
.form .field.checkbox label {
  width: 100%;
  display: block;
  text-align: left;
}
.form .field.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  right: 0;
  z-index: 1;
}
.form .field.checkbox span {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #cacaca;
  display: block;
}
.form .field.checkbox span:after {
  content: "";
  position: absolute;
  display: none;
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.form .field.checkbox:hover input ~ span {
  background-color: #535353;
}
.form .field.checkbox input:checked ~ span {
  background-color: #1985a1;
}
.form .field.checkbox input:checked ~ span:after {
  display: block;
}
.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form input[type="textarea"],
.form textarea,
.form select {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.2em;
  background-color: #F8F8F9;
}
.form textarea {
  resize: none;
}
.form button[type="submit"],
.form input[type="submit"],
.form input[type="button"] {
  background: #535353;
  padding: 0.3em 1.8em;
  border: none;
  color: #F8F8F9;
  float: right;
}
.form button[type="submit"]:hover,
.form input[type="submit"]:hover,
.form input[type="button"]:hover {
  background-color: #1985a1;
}
footer {
  padding: 4em;
  color: #717171;
}
footer p {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
    width: 0;
    height: 0;
  }
}
@media screen and (max-width: 767px) {
  body {
    min-width: 360px;
  }
  nav label.burgermenu {
    display: inline-block;
  }
  nav .menu {
    text-align: left;
  }
  nav ul.links {
    display: none;
    padding: 0;
  }
  nav ul.links li {
    display: block;
    padding: 0.3em;
    border-bottom: 1px solid #cacaca;
  }
  nav ul.links li:last-child {
    border: none;
  }
  nav input:checked ~ ul.links {
    display: block;
  }
  nav ul li a:hover {
    background-color: #f3f3f3;
    text-decoration: none;
  }
  .grid {
    width: 100%;
    max-width: max;
    min-width: 360px;
    margin: 0 auto;
    overflow: hidden;
  }
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
  .grid [class^="column-"] {
    width: auto;
    float: none;
    margin: 0.3em 0;
  }
  .grid .mobile-column {
    padding-right: 0.3em;
    padding-left: 0.8em;
    margin: 0 0 0.3em;
  }
  .grid .mobile-column-5-6 {
    float: left;
    min-height: 1px;
    padding-right: 0.8em;
    width: 83.33333333%;
    margin-bottom: 0.3em;
  }
  .grid .mobile-column-5-6:last-child {
    padding-right: 0;
  }
  .grid .mobile-column-4-6 {
    float: left;
    min-height: 1px;
    padding-right: 0.8em;
    width: 66.66666667%;
    margin-bottom: 0.3em;
  }
  .grid .mobile-column-4-6:last-child {
    padding-right: 0;
  }
  .grid .mobile-column-3-6 {
    float: left;
    min-height: 1px;
    padding-right: 0.8em;
    width: 50%;
    margin-bottom: 0.3em;
  }
  .grid .mobile-column-3-6:last-child {
    padding-right: 0;
  }
  .grid .mobile-column-2-6 {
    float: left;
    min-height: 1px;
    padding-right: 0.8em;
    width: 33.33333333%;
    margin-bottom: 0.3em;
  }
  .grid .mobile-column-2-6:last-child {
    padding-right: 0;
  }
  .grid .mobile-column-1-6 {
    float: left;
    min-height: 1px;
    padding-right: 0.8em;
    width: 16.66666667%;
    margin-bottom: 0.3em;
  }
  .grid .mobile-column-1-6:last-child {
    padding-right: 0;
  }
  .grid .mobile-offset-5-5 {
    margin-left: 83.33333333%;
  }
  .grid .mobile-offset-4-4 {
    margin-left: 33.33333333%;
  }
  .grid .mobile-offset-3-3 {
    margin-left: 25%;
  }
  .grid .mobile-offset-2-2 {
    margin-left: 16.66666667%;
  }
  .grid .mobile-offset-1-1 {
    margin-left: 8.33333333%;
  }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}
