#form() {
	/* 
	 * https://www.sanwebe.com/2014/08/css-html-forms-designs
	 * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
	 */
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: block;
			padding-top: #spacing[small];
			border: 1px solid #color[grey];
			margin-top: #spacing[small];
			margin-bottom: #spacing[large];
			//border-radius: #radius[small];
			background: #color[light];
			min-height: #lineheight[small];

			&:last-child, &.no-border {
				border: none;
				margin-top: #spacing[small];
				text-align: center;

				& > label {
					margin-top: 0;
					margin-left: 0;
				}
			}

			input {
				padding: #spacing[medium];
				margin-bottom: #lineheight[small];
				&:focus {
					margin-bottom: 0;
				}
			}

			input:focus + span {
				display: inherit;
			}

			& > label { // field name
				display: block;
				float: left;
				margin-top: -1.3em;
				margin-left: #spacing[medium];
				height: #lineheight[medium];
				font-size: #font[small];
				padding: #spacing[small];
				color: #color[dark];
				overflow: hidden;
				background: #color[light];
			}

			& > span { // help text
				background: #color[grey];
				display: block;
				padding: #spacing[small];
				text-align: center;
				color: #color[light];
				font-size: #font[small];
				display: none;
				height: #lineheight[medium];
			}
			a {
				color: #color[dark];
				font-weight: bold;
			}

			&.is-invalid {
				border-color: #color[alert];

				input {
					margin-bottom: 0;
				}

				.invalid {
					background-color: #color[alert];
					display: inherit;
				}
			}

			&.checkbox {
				position: relative;
				user-select: none;
				cursor: pointer;

				label {
					width: 100%;
					display: block;
					text-align: left;
				}

				input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
					right:0;
					z-index: 1;
				}
				span {
					position: absolute;
					top: 0;
					right: 0;
					height: 25px;
					width: 25px;
					background-color: #color[grey];
					display: block;

					&:after {
						content: "";
						position: absolute;
						display: none;
						left: 10px;
						top: 6px;
						width: 5px;
						height: 10px;
						border: solid white;
						border-width: 0 3px 3px 0;
						transform: rotate(45deg);
					}
				}

				&:hover input ~ span {
					background-color: #color[dark];
				}

				& input:checked ~ span {
					background-color: #color[accent];
					&:after {
						display: block;
					}
				}
			}
		}
	}

	input[type="text"],
	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="time"],
	input[type="url"],
	input[type="password"],
	textarea, select
	{
		width: 100%;
		display: block;
		outline: none;
		border: none;
		height: #lineheight[medium];
		line-height: #lineheight[medium];
		font-size: #font[medium];
		//padding: 0;
		background-color: #color[light];
	}

	textarea {
		resize: none;
	}
	button[type="submit"],
	input[type="submit"],
	input[type="button"] {
		background: #color[dark];
		padding: #spacing[small] #spacing[xlarge];
		//border-radius: #radius[small];
		border: none;
		color: #color[light];
		float: right;

		&:hover {
			background-color: #color[accent];
		}
	}

}